.sponsor-wrapper  {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.download-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.highlight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.highlight-title {
  font-size: 36px;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  margin-bottom: 20px;
}

.highlight-description {
  width: 600px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  left: 0;
  height: 150px;
  background-color: hsl(216, 17%, 97%);
}

.c-logo-footer {
  width: 54px;
  position: absolute;
  left: 164px;
}

.footer-link-container {
  position: absolute;
  left: 335px;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  gap: 20px;
  margin-left: 20px;
}

.footer-link {
  font-weight: 600;
  font-size: 18px;
  color: hsl(192, 2%, 54%);
  width: 170px;
}

.footer-icons-container {
  position: absolute;
  right: 164px;
  display: flex;
  align-items: center;
  gap: 24px;
}