body{
  margin: 0px 0px;
}

p {
  margin: 0;
  font-family: Bai Jamjuree;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
}

.highlight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 28px;
  margin-bottom: 50px;
  text-align: center;
}

.highlight-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  color: hsl(210, 10%, 33%);
  margin-bottom: 20px;
}

.highlight-description {
  max-width: 680px;
  font-size: 18px;
}

.features-section-container {
  display: flex;
  flex-direction: row;
}

.computer-image {
  display: block;
  position: relative;
  right: 32px;
}

.features-section-text-content-container {
  display: flex;
  flex-direction: column;
  row-gap: 54px;
  margin-left: 78px;
  padding-top: 68px;
}

.features-section-text-content-wrapper {
  flex: 0;
  width: 340px;
}

.features-section-title {
  color: hsl(210, 10%, 33%);
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}

.features-section-description {
  line-height: 1.9;
}

.image-devices {
  display: block;
  margin: 0 auto;
}

.functions-section-container {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 80px;
}

.functions-section-wrapper {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
}

.functions-section-title {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  font-size: 24px;
  margin-top: 42px;
}

.functions-section-description {
  text-align: center;
  line-height: 1.9;
  margin-top: 18px;
}

.icon-blacklist {
  display: block;
  position: relative;
  top: 5px;
  width: 44px;
  margin-top: -8px;
} 

.icon-text {
  display: block;
  width: 36px;
}

.icon-preview {
  display: block;
  width: 50px;
}