body{
  margin: 0px 0px;
}

p {
  margin: 0;
  font-family: Bai Jamjuree;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
}

.header-title,
.highlight-title,
.functions-section-title {
  color: hsl(210, 10%, 33%);
  font-size: 22px;
  font-weight: 600;
}

.features-section-container {
  display: flex;
  flex-direction: row;
}

.computer-image {
  display: block;
  position: relative;
  right: 32px;
}

.features-section-text-content-container {
  display: flex;
  flex-direction: column;
  row-gap: 54px;
  margin-left: 78px;
  padding-top: 68px;
}

.features-section-text-content-wrapper {
  flex: 0;
  width: 340px;
}

.features-section-title {
  color: hsl(210, 10%, 33%);
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}

.features-section-description {
  line-height: 1.9;
}