body{
  margin: 0px 0px;
}
.header-images{
  display: flex;
  justify-content: center;
}
.c-logo-header{
  top: 60px;
  width: 60px;
  position: absolute;
  z-index: 2;
}
.header-background{
  z-index: 1;
}

p {
  font-family: Bai Jamjuree;
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  font-weight: 400;
}

.header-title,
.highlight-title,
.features-section-title,
.functions-section-title {
  color: black;
  font-size: 22px;
  font-weight: 500;
}